.homeContainer {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  scroll-behavior: smooth;
  margin: 0;
}

.section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
