:root {
  --background-light: #ffffff;
  --background-dark: #0a0a0a;
  --foreground-light: #171717;
  --foreground-dark: #ededed;

  /* Custom theme colors */
  --primary: #002b5c;
  --accent: #f9d342;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --foreground: var(--foreground-light);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground); */
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Make images and videos responsive */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Optional scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
