.masthead {
  height: 20vh;
  background: url("../../../public/images/Banner.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  /* background: rgba(0, 43, 92, 0.6); */
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: #f9d342;
  text-align: center;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .overlay h1 { font-size: 32px; }
  .overlay p { font-size: 16px; }
}
